* {
    margin: 0em;
}

#board {
    width: 1900px;
    height: 1000px;
    border: 10px solid black;
    display: flex;
    flex-flow: row wrap;
    background-size: contain;
}
.background1{
    background-image: url("../img/gegenstaende/Hintergründe/Hintergrund-djungel.png");
}
.background2{
    background-image: url("../img/gegenstaende/Hintergründe/in-tempel-hintergrund.png");
}
#board>div {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}


#player {
    z-index: 2;
    width: 50px;
    height: 100px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}


/*Animation der Figur*/
.playerStandingLeft {
    background-image: url('../img/charakter/player_standing_left.png');
}

.playerStandingRight {
    background-image: url('../img/charakter/player_standing_right.png');
}

.playerWalkingLeft {
    background-image: url('../img/charakter/player_walking_left.png');
}

.playerWalkingRight {
    background-image: url('../img/charakter/player_walking_right.png');
}

.playerInteracting {
    background-image: url('../img/charakter/player_interaction.png');
}

.playerJumpingRight {
    background-image: url('../img/charakter/player_jumping_right.png');
}

.playerJumpingLeft {
    background-image: url("../img/charakter/player_jumping_left.png");
}

/*Aussehen der Spielblöcke*/
.stone {
    background-image: url("../img/gegenstaende/Blöcke/stein\ wand.png");
    background-size: contain;
}

.torch {
    background-image: url("../img/gegenstaende/Blöcke/fackel\ gif.gif");
    background-size: contain;
}

.sign {
    background-image: url("../img/gegenstaende/Blöcke/stein\ mit\ schild.png");
    background-size: contain;
}

.stoneGround {
    background-image: url("../img/gegenstaende/Blöcke/stone\ ground.png");
    background-size: contain;
}

.dirt {
    background-image: url("../img/gegenstaende/Blöcke/dirt.png");
    background-size: contain;
}

.closedDoorUpper {
    /*background-image: url("../img/gegenstaende/Blöcke/");*/
    background-size: contain;
}

.closedDoorLower {
    /*background-image: url("../img/gegenstaende/Blöcke/");*/
    background-size: contain;
}

.openedDoorUpper {
    /*background-image: url("../img/gegenstaende/Blöcke/");*/
    background-size: contain;
}

.openedDoorLower {
    /*background-image: url("../img/gegenstaende/Blöcke/");*/
    background-size: contain;
}

.key {
    background-image: url("../img/gegenstaende/Schlüssel/key2.png");
}

.doorNextLevel {
    background-color: blue;
}

.doorLastLevel {
    background-color: red;
}


.monster {
    background-image: url("../img/monster/ghost.png");
    z-index: 1;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.blink {
    animation: blinking 0.5s 0s;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#herzbox {
    width: 125px;
    height: 45px;
    position: absolute;
    left: 1750px;
    top: 20px;
    z-index: 1;
    float:left;
}

.herz {
    background-image: url('../img/charakter/Herz.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    float:left;
}

.geist {
    background-image: url("../img/monster/ghost.png");
}

#homebutton{
    background-image: url("../img/buttons/Kleines_Haus.png");
    position: absolute;
    background-size: cover;
    height:75px;
    width: 75px;
    left: 0px;
    z-index: 1;
    top: 10px;
}