.menubutton {
    position: absolute;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    width: 400px;
    border: 5px;
    background-color: aqua;
    border-radius: 20px;
}

#backbutton {
    position: absolute;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    width: 200px;
    top: 2%;
    left: 2%;
    border: 5px;
    background-color: aqua;
    border-radius: 20px;
}

#gameover {
    background-image: url(Bilder/gameover.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#startbutton {
    top: 400px;
    left: 765px;
}

#creditsbutton {
    top: 500px;
    left: 765px;
}



.solid {
    width: 50px;
    height: 50px;
    background-color: black;
}

#player {
    width: 50px;
    height: 50px;
    background-color: rgb(211, 49, 49);
    position: absolute;
    left: 0px;
    top: 0px;
}

#board {
    border: 10px solid black;
    width: 1900px;
    height: 1000px;
    display:flex;
	flex-flow: row wrap;
    position: absolute;
    top: 40px;
    left: 0px;
}




.playerStandingLeft{
    background-image: url("Bilder/player_standing_left.png");
}
.playerStandingRight {
    background-image: url("Bilder/player_standing_right.png");
}




.credits {
    font-size: 30px;
}

#logik {
    left:19%;
    position: absolute;
}

#design {
    left:40%;
    width: 20%;
    position: absolute;
}

#coding {
    right:20%;
    position: absolute;
}

.center {
    text-align: center;
}


