.menubutton {
    position: absolute;
    text-align: center;
    font-size: 50px;
    border: 5px;
    
    border-radius: 20px;
}

#credits{
    background-image: url(Bilder/credit-screen.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#backbutton {
    position: absolute;
    text-align: center;
    height: 70px;
    font-size: 30px;
    width: 240px;
    top: 1000px;;
    left: 20px;
    border: 5px;
    border-radius: 20px;
}

#homebutton{
    background-image: url(Bilder/Kleines_Haus.png);
    position: absolute;
    background-size: cover;
    height:75px;
    width: 75px;
    left: 10px;
    z-index: 1;
    top: 50px;
}

#closebutton{
    background-image: url(Bilder/close.png);
    position: absolute;
    background-size: cover;
    height:75px;
    width: 75px;
    right: 0px;
    z-index: 1;
    top: 10px;
}

#gameover {
    background-image: url(Bilder/gameover.png);
    background-repeat: no-repeat;
    background-size: 101%;

}

#startscreen {
    background-image: url(Bilder/start-screen.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#startbutton {
    top: 630px;
    left: 470px;
    width: 910px;
    height: 270px;
}

#creditsbutton {
    top: 1000px;
    left: 1570px;
    width: 350px;
    height: 85px;
}

#rickroll {
    top:500px;
    left: 500px;
    height: 100px;
    width: 760px;
}



.solid {
    
}

.stone {
    background-image: url(Bilder/stein_wand.png);
    background-size: contain;
}

.torch {
    background-image: url(Bilder/fackel\ gif.gif);
    background-size: contain;
}

.sign {
    background-image: url(Bilder/stein\ mit\ schild.png);
    background-size: contain;
}

.stoneGround {
    background-image: url(Bilder/stone\ ground.png);
    background-size: contain;
}

.dirt {
    background-image: url(Bilder/dirt.png);
    background-size: contain;
}

.notFound {
    background-color: red;
}

#player {
    z-index: 1;
    width: 50px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: contain;
    background-repeat: no-repeat;

}

#board {
    background-image: url(Bilder/Hintergrund-djungel.png);
    border: 10px solid black;
    width: 1900px;
    height: 1000px;
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 40px;
    left: 0px;
}

#board>div {
    width: 50px;
    height: 50px;
}




.playerStandingLeft {
    background-image: url(Bilder/player_standing_left.png);
}

.playerStandingRight {
    background-image: url(Bilder/player_standing_right.png);
}

.playerWalkingLeft {
    background-image: url(Bilder/player_walking_left.png);
}

.playerWalkingRight {
    background-image: url(Bilder/player_walking_right.png);
}




.credits {
    font-size: 30px;
}

#logik {
    left: 19%;
    position: absolute;
}

#design {
    left: 40%;
    width: 20%;
    position: absolute;
}

#coding {
    right: 20%;
    position: absolute;
}

.center {
    text-align: center;
}